body {
  overflow-x: hidden;
  background-color: black !important;
}

.home-main {
  background: url("./assets/Home/noise.svg") center center / cover no-repeat;
}

.glass {
  background: rgba(255, 255, 255, 0.06);
  border-radius: 16px;
  backdrop-filter: blur(10px) saturate(150%);
  -webkit-backdrop-filter: blur(10px) saturate(150%);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.glass-card {
  background: rgba(255, 255, 255, 0.06);
  border-radius: 16px;
  backdrop-filter: blur(10px) saturate(150%);
  -webkit-backdrop-filter: blur(10px) saturate(150%);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.glass-custom {
  background: rgba(255, 255, 255, 0.06);
  border-radius: 16px;
  backdrop-filter: blur(10px) saturate(150%);
  -webkit-backdrop-filter: blur(10px) saturate(150%);
  border: 1px solid rgba(255, 255, 255, 0.2);
}


.landing-main::before {
  content: '';
  position: absolute;
  background-image: url('./assets/Home/sidebox.png');
  width: 1400px;
  height: 400px;
  top: 360px;
  left: -140px;
  z-index: -2;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.landing-gradient::after {
  content: '';
  position: absolute;
  background-image: url('./assets/Home/midgradient.png');
  width: 1500px;
  height: 600px;
  top: 0;
  padding-top: 30px;
  left: 50%;
  transform: translateX(-50%);
  /* start perfectly centered */
  z-index: -1;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  animation: gradientMove 30s ease-in-out infinite;
}

@keyframes gradientMove {
  0% {
    transform: translateX(-50%);
  }

  25% {
    transform: translateX(-40%);
  }

  50% {
    transform: translateX(-60%);
  }

  75% {
    transform: translateX(-40%);
  }

  100% {
    transform: translateX(-50%);
  }
}

.green-shadow {
  content: '';
  position: absolute;
  background: linear-gradient(275.19deg, #14E893 -15.5%, #5131AD 98.25%);
  border-radius: 50%;
  width: 600px;
  height: 450px;
  z-index: -1;
  opacity: 0.6;
  filter: blur(100px) saturate(50%);
  z-index: -90;
}

.purple-shadow {
  content: '';
  position: absolute;
  border-radius: 50%;
  background: linear-gradient(275.19deg, #14E893 -15.5%, #5131AD 98.25%);
  width: 600px;
  height: 450px;
  z-index: -1;
  opacity: 1;
  filter: blur(300px) saturate(50%);
  z-index: -90;
}

.green-circled {
  background: linear-gradient(274.57deg, #0C744A 1.89%, #14E893 98.19%);
  width: 600px;
  height: 400px;
  border-radius: 50%;
  opacity: 0.2;
  filter: blur(80px);
  z-index: -2;
}

.purple-circled {
  background: linear-gradient(90deg, #211447 0%, #5131AD 100%);
  width: 600px;
  height: 400px;
  border-radius: 50%;
  opacity: 0.4;
  filter: blur(80px);
  z-index: -2;
}

.ai-strategy-shade-purple {
  content: '';
  position: absolute;
  background: linear-gradient(90deg, #211447 0%, #5131AD 100%);
  border-radius: 50%;
  width: 700px;
  height: 550px;
  z-index: -1;
  opacity: 0.8;
  filter: blur(150px);
  z-index: -90;
}

.ai-strategy-shade-green {
  content: '';
  position: absolute;
  background: linear-gradient(274.57deg, #0C744A 1.89%, #14E893 98.19%);
  border-radius: 50%;
  width: 700px;
  height: 500px;
  z-index: -1;
  opacity: 0.4;
  filter: blur(150px);
  z-index: -90;
}

/* AI Strategies */
.ai-strategies-main {
  position: relative;
  border-radius: 16px;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.06);
  color: white;
  box-sizing: border-box;
}

.ai-strategies-main::before {
  content: "";
  position: absolute;
  inset: -14px;
  border-radius: 45px;
  padding: 14px;
  box-sizing: border-box;
  background: linear-gradient(135deg,
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0.1));
  -webkit-mask: linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;

  -webkit-backdrop-filter: blur(8px) saturate(140%);
  backdrop-filter: blur(8px) saturate(240%);
  pointer-events: none;
  z-index: 1;
}

/* RevolutionSlider */
@keyframes infinite-scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

.animate-infinite-scroll {
  animation: infinite-scroll 20s linear infinite;
}

.animate-infinite-scroll:hover {
  animation-play-state: paused;
}

.special-btn {
  border-radius: 9999px;
  /* full rounded */
  padding: 1.25rem 1.25rem 1.25rem 1.75rem;
  /* py-5 px-3 pl-5 */
  color: var(--primary-foreground);
  cursor: pointer;
  transition: all 0.3s ease;
}

.gradient-box-shadow {
  box-shadow:
    10px 0px 30px 0px rgba(40, 173, 155, 0.5),
    -20px 0px 40px 0px rgba(78, 58, 172, 0.5);
}